<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" ><b>Leslie Fernanda Márquez Meza</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Menú</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/davinci">Diego Rivera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/caravaggio">Rembrandt</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/cezanne">Jose de Ribera</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/picasso">Pablo Picasso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/francisco">Sandro Botticelli</a>
        </li>
    </ul>
</nav>
<div style="text-align: center">
    <h1 style="font-size: 100%">{{titulo}}</h1>
</div>
